<div class="container__big-card">
  <div class="big-card_img">
    <img
      src="https://t2.tudocdn.net/127483?w=1920"
      alt=""
    >
  </div>

  <div class="big-card_title">
    <h1>
      <a href="#">
        Iron Man é um filme estadunidense de super-herói.
      </a>
    </h1>
  </div>

  <div class="big-card_descricao">
    <p>
      <a href="#">
        Produzido pelo Marvel Studios e distribuído
        pela Paramount Pictures, é o primeiro filme
        do Universo Cinematográfico Marvel.
      </a>
    </p>
  </div>

</div>
