<div class="container__small-card">
  <div class="container__small-card__content">
    <div class="small-card_img">
      <img
        src="https://upload.wikimedia.org/wikipedia/pt/d/d3/P%C3%B4ster_-_Marvel-Netflix.jpg"
        alt=""
      >
    </div>

    <div class="small-card_title">
      <h1> <a href="#"> Confira a ordem certa para ver as séries da Marvel na Netflix,
        começando por Demolidor, passando por Defensores, até Jessica Jones.
      </a>
    </h1>
    </div>
  </div>
  <div class="container__small-card__separacao">
    <hr/>
  </div>
</div>




