<header>
  <!-- Seletor componente menu bar -->
  <app-menu-bar></app-menu-bar>
</header>


<!-- Seletor componente menu title -->
<app-menu-title></app-menu-title>

<div class="container__artigo">

  <div class="artigo_main">
    <!-- Seletor componente big card -->
    <app-big-card></app-big-card>
  </div>

  <div class="artigo_outros">
    <!-- Seletores componentes small card -->
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</div>
